

.link_logo {
    display: inline-block;
}

.bck_lblue {
    background: #98c5e9;
}

.success_label {
    color: #98c5e9;
    font-weight: 600;
    margin: 10px 0px;
}

.split_fields {
    margin: 30px 0px;
    padding: 20px 0px;
    border-top: 2px solid #dddddd;
}

.split_fields.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

::-webkit-input-placeholder { 
    color: #cecece;
    text-align: center;
  }
  ::-moz-placeholder { 
    color: #cecece;
    text-align: center;
  }
  :-ms-input-placeholder {
    color: #cecece;
    text-align: center;
  }
  :-moz-placeholder { 
    color: #cecece;
    text-align: center;
  }


.image_upload_container {
    position: relative;
}

.image_upload_container .remove {
    top: 0;
    position: absolute;
    right: 0;
    background: #98c6e9;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px;
}

.not_found_container {
    text-align: center;
    margin-top: 96px;
    padding: 20px;
    background-size: 5px 5px !important;
    min-height: 100vh;
    text-align: center;
    font-size: 90px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
}

.products {
    background: #98c5e9;
    margin-top:9px;
    padding: 50px 0px;
}

.products .items {
    flex-wrap: wrap;
    display: flex;
    margin-top: 60px;
}

.products .items .item {
    width: 50%;
    margin: 35px 0px;
}

.products .items .item .wrapper {
    padding-right:30px;
    width: 250px;
    height: 250px;
}



.display_block .product_title {
    color:#ffffff;
    font-size:18px;

}

.display_block .product_wrapper,
.display_block .product_wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
}
.display_block .product_wrapper {
    margin-top: 5px;
}

.display_block .product_wrapper .product_display,
.display_block .product_wrapper .product_display {
    background: #ffffff; 
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
}

.display_block .product_wrapper .product_display div,
.display_block .product_wrapper .product_display div {
    float:left
}

.display_block .product_wrapper .product_display .icon,
.display_block .product_wrapper .product_display .icon {
    width: 200px;
    height: 200px;
    background-size: cover !important;
}
.display_block .product_wrapper .product_display .product_name,
.display_block .product_wrapper .product_display .product_name {
    font-size: 30px;
    padding: 6px 10px;
}


.display_block .product_wrapper .right,
.display_block .product_wrapper .right { 
    background: #0e1731;
    width: 70px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding-top: 6px;
} 

.product_box_big {
    width:100%;
    border-bottom: 2px solid #98c6e9;
    padding: 20px;
    box-sizing: border-box;
    height: 143px;
    clear: both;
}

.product_box_big .block_wrapper {
    display: inline-block;
    margin-right: 50px;
    float: left;
}

.product_box_big .block {
    display: flex;
}

.product_box_big .icon{
    width: 50px;
    height: 50px;
    background-size: cover !important;
}

.product_box_big .block .item,
.product_box_big .block .price {
    font-size: 21px;
    line-height: 51px;
    margin-left: 18px;
    font-weight: 300;
}

.product_box_big .block .price {
    font-weight: 500;
}

.block_wrapper.nfo {
    border-left: 1px solid #98c6e9;
    height: 102px;
    padding-left: 10px;
    font-weight: 300;
    color: #5e5e5e;
}

.block_wrapper.nfo div {
    margin: 5px 0px;
}

.product_filters {
     display: flex;
     border-bottom: 1px solid #01285e;
     background: #dff1ff;
}
.product_filters .tag {
    font-weight: 300;
    margin-bottom: 5px;
    color: #656565;
}
.product_filters .option {
    background: #ffffff;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.product_filters .option.active {
    background: #62a2d3;
    color: #fff;
}

.product_filters_box {
    padding: 10px 20px;
    border-right: 1px solid #01285e;
    background: #dff1ff;
}

.product_filters .cont {
    display: flex;
}



.best_sellers { 
    background: #ffffff;
}

.best_sellers_wrapper {
    padding-bottom: 100px;
    min-height: 600px;
}

.best_sellers .home_card_wrapper {
    position: relative;
    float: left;
    width: 630px;
    min-height: 600px;
}

.best_sellers .home_text_wrapper {
    float: right;
    width: 390px;
}


.item_card_wrapper {
    background: #ffffff;
    border: 1px solid #ececec;
    width: 300px;
    padding: 10px 10px 20px 10px;
    font-family: 'Righteous';
}
.item_card_wrapper .item_card_thmb {
    border: 1px solid #eeeeee;
    width:100%;
    height:250px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.item_card_wrapper .item_card_info {
    position: relative;
}
.item_card_wrapper .item_card_number {
    color: #d6ecfe;
    font-size: 185px;
    text-align: right;
    line-height: 160px;
}

.item_card_wrapper .item_card_name {
    position: absolute;
    bottom: 0px;
}

.item_card_wrapper .item_card_name span { 
    display: block;
    font-size: 25px;
    color: #0d1831;
}

.home_text_wrapper {
    margin-top: 70px;
}


.promotion_wrapper {
    padding: 30px 0px 130px 0px;
}

.promotion_wrapper .promotion_animation {
    display: flex;
    padding: 80px 0px 30px 0px;
}

.promotion_wrapper .promotion_animation .left { 
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 150px;
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    color:#d5ebfd;
    line-height: 135px;
}
.promotion_wrapper .promotion_animation .left span {
    display:block;
 }

.promotion_wrapper .promotion_animation .right {
    line-height: 135px;
}

.promotion_wrapper .promotion_animation .right div{
    width: 280px;
    height: 280px;
    background-size: contain !important;
}

.promotion_wrapper {
    text-align: center;
}

.promotion_wrapper {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #4e4e4e;
}

.promotion_wrapper {
    font-weight: 300;
    font-size: 12px;
    width: 271px;
    margin: 0 auto;
    padding: 10px 0px;
}

.promotion_wrapper {
    width: 330px;
    margin: 0 auto;
    padding: 10px 0px;
}


.products_container {
    margin-top: 96px;
}

.products_wrapper {
    display: flex;
}

.products_wrapper .left {
    flex-grow: 1;
}

.products_wrapper .right {
   width:400px;
}

.product_table_wrapper {
    border-left: 1px solid #98c6e9;
}
.product_table_wrapper .title {
    padding: 22px;
    font-size: 22px;
    color: #ffffff;
    background: #98c6e9;
    border-bottom: 1px solid #01285e;
}

.products_wrapper .progress {
    text-align: center;
    padding: 60px 0px;
}



.admin_container {
    margin-top: 96px;
    display:flex;
}

.admin_container .admin_left_nav {
    min-height: 100vh;
    background: #282828;
    border-right: 2px solid #01285e;
}

.admin_container  .admin_right {
    flex-grow: 1;
}
.admin_container  .admin_progress {
    text-align: center;
    margin: 20px 0px;
}

.admin_container .products_tag_red {
    font-weight: 700;
    color: #F44336;
}

.admin_container .products_tag_green {
    font-weight: 700;
    color: #4CAF50;
}

.admin_container h2 {
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #dbdbdb;
    color: #414141;
    font-size: 40px;
}

.editproduct_dialog_wrapper,
.editItems_dialog_wrapper {
    padding: 20px;
    width: 480px;
}

 
.select_product_layout .wrapper{
    display: flex;
}

.select_product_layout .wrapper .left {
    flex-grow: 1;
}

.select_product_layout input[name=result_local_input],
.select_product_layout input[name=result_away_input] {
    width: 60px;
    text-align: center;
    background: #98c6e9;
    color: #ffffff;
}

.admin_submit button {
    font-size: 20px;
    margin: 40px 0px;
    background: #009688;
}

.customDesign_container {
    margin-top: 96px;
    padding: 20px;
    background-size: 5px 5px !important;
    min-height:100vh;
}

.customDesign_wrapper .title {
    font-size: 90px;
    margin: 30px 0px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
}

.customDesign_wrapper .title_cards {
    display: flex;
    flex-wrap: wrap;
}
.customDesign_wrapper .title_cards .item{
    margin-right: 20px;
    margin-bottom: 20px;
}

.signin_wrapper {
    margin-top: 96px;
    padding: 20px;
    min-height: 70VH;
    text-align: center;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    width: 100%;
    padding: 10px;
}

.signin_wrapper h2 {
    font-family: 'Righteous', cursive;
    color: #98c6e9;
    font-size: 50px;
}

.user_dashboard {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
    text-align: center;
    margin-top: 200px;
}

.featured_stripes {
    position: relative
}

.featured_stripes .stripe {
    margin-top: 450px;
    width: 200px;
    height: 200px;
    position: absolute;
}
/* 
.featured_number {
    font-size: 96px;
    color: #ffffff;
    transform: translate(260px,170px);
    position: absolute;
}
.featured_first {
    position: absolute;
    background: #0e1731;
    color: #ffffff;
    font-size: 92px;
    text-transform: uppercase;
    padding: 0px 20px;
} */
/* 
.featured_second {
    position: absolute;
    background: #0e1731;
    color: #ffffff;
    font-size: 92px;
    text-transform: uppercase;
    padding: 0px 20px;
} */

/* 
///////////////////////////////////////////////////
.img_cover {
    background-size: cover !important;
}

.container {
    width:1024px;
    margin: 0 auto;
}

.featured_text {
    position: relative;
    font-family: 'Righteous', cursive;
}

.featured_image {
    width: 400px;
    height: 400px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
}
*/